{% extends 'app/base.html' %}
{% load static %}
{% block title %} passwordchange {% endblock title %}

{% block main-content %}
<div class="container my-5">
      <div class="row">
          <h3>Wellcome <span class="text-capitalize">{{request.user|capfirst}}</span></h3>
          <div class="col-sm-2 border-end">
              <ul class="list-unstyled">
                  <li class="d-grid"><a href="#" class="btn btn-success">Changepassword</a></li>
              </ul>
          </div>
          <div class="col-sm-9 offset-sm-1">
              <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                      </div>
                    {% endfor %}
                  {% endif %} 
                {% for fm in form %}
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-success" 
                    >Submit</button>
                </div>
                 
              </form>
          </div>
      </div>
</div>
<br><br>
{% endblock main-content %}