{% extends 'app/base.html' %}
{% load static %}
{% block title %} reset-password {% endblock title %}

{% block main-content %}
   <div class="container">
       <div class="row my-3">
          <div class="col-sm-6 offset-sm-3">
            <br><br>
              <h3><center>Reset Password Complete!!!</center></h3>
              <hr>
              <div>
                 <center> <img src="{% static 'app/images/check1.png' %}" width="200" height="200"  ></img></center>
              </div>
          </div>
       </div>
   </div>
{% endblock main-content %}