{% extends 'app/base.html' %}
{% load static %}
{% block title %} reset-password-done {% endblock title %}

{% block main-content %}
   <div class="container">
       <div class="row my-3">
          <div class="col-sm-6 offset-sm-3">
            <br><br><br>
              <h3><center>Well Done!</center></h3>
              <hr>
              <p><center>An Email has been sent with instructions to reset your password<br>Please check Email</center></p>
          </div>
       </div>
   </div>
{% endblock main-content %}