{% extends 'app/base.html' %}
{% load static %}
{% block title %} passwordchangedone {% endblock title %}

{% block main-content %}
<div class="container my-5">
      <div class="row">
          <h3>Wellcome {{request.user.username|capfirst}}</h3>
          <div class="col-sm-2 border-end">
              <ul class="list-unstyled">
                  <li class="d-grid"><a href="#" class="btn btn-success">Change Password Done</a></li>
              </ul>
          </div>
          <div class="col-sm-9 offset-sm-1">
              <h3><center> Password Change Successfully !!! </center></h3>
              <div>
                <br>
               <center> <img src="{% static 'app/images/check1.png' %}" width="200" height="200"  ></img></center>
                
                </div>
              </div>
          </div>
      </div>
</div>
<br><br>
{% endblock main-content %}